@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@import "variables";

* {
    padding: 0;
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
    font-family: @default-font;
    font-size: @default-font-size;
    color: white;
    background-color: @bg-light;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

select {
    background-color: @bg-dark;
    font-family: @default-font;
    font-size: @default-font-size;

    padding: 7px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: @bg-dark;
    display: flex;
    flex-direction: row;
    height: 40px;

    // make it always on top
    position: sticky;
    top: 0;
    z-index: 5;

    #menu-container {
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: @bg-light;
        border-radius: 10px;
        height: 40px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        margin: 0px 10px;
        float: left;
    }

    .li-item {
        font-weight: bold;
        display: block;
        font-size: 18px;
        text-align: center;
        padding: 0px 10px;
        text-decoration: none;
        cursor: pointer;
        color: white;
    }

    .li-item-hover {
        text-decoration: underline;
    }

    li a {
        .li-item()
    }

    li a:hover {
        .li-item-hover()
    }

    #menu-icon-mobile {
        margin: 0;
        margin-left: 20px;
        padding: 0px;
        display: flex;
        cursor: pointer;
        width: 30px;
        height: 30px;

        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #bar-wrapper {
            margin-top: 15px;
            background: none;
            width: 100%;
            height: fit-content;
        }

        div {
            height: 3px;
            background-color: white;
            margin: 8px 0;
            transition: 0.4s;
        }
    }

    #mobile-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: @bg-dark;
        position: absolute;
        padding-top: 20px;
        top: 50px;
        left: 0;
        height: calc(100vh - 0px);
        width: 100%;
        z-index: 5;
    }

    .open {
        #mobile-menu {
            display: flex;
        }
    }

    #mobile-menu li {
        margin-bottom: 10px;
    }
}

.header-child {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: @bg-light;
    border-radius: 10px;
}

.tag {
    display: inline-block;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    letter-spacing: 1.5px;
    padding: 2px 5px;
    background-color: @bg-dark;
    margin: 2px 2px;
    cursor: pointer;
    height: fit-content;
}

// todo: make the footer always at bottom
footer {
    padding: 10px 0;
    margin: 0;
    margin-top: auto;

    // for inside
    display: flex;
    justify-content: center;
    background-color: @bg-dark;

    #contacts {
        width: 60%;
    }

    .footer-item {
        display: block;
        text-decoration: none;
        letter-spacing: 1px;
    }

    .footer-item:hover {
        text-decoration: underline;
    }

    #contacts {
        font-size: 30px;
        letter-spacing: 5px;
    }
}

@media screen and (max-width: 600px) {
    header {
        #menu-container {
            display: none;
        }

        #menu-icon-mobile {
            display: flex;
        }
    }
}