@import "variables";
@import "main";

.btn {
    width: 80px;
    height: 30px;
    border: none;
    border-radius:5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.btn {
    .btn();
    background-color: @btn;
}

.btn:hover {
    background-color: @btn-hover;
}

#tasks-header {
    .header-child();

    .tasks-header-icon {
        padding: 7px;
        margin: 5px;
        font-size: 20px;
        cursor: pointer;
        border-radius: 10px;
        border: none;
        color: white;
        font-weight: bold;
    }

    #settings {
        .tasks-header-icon()
    }

    #settings:hover {
        background-color: @bg-dark;
    }

    #btn-create {
        .tasks-header-icon();
    }

    #btn-create:hover {
        background-color: @bg-dark;
    }

    #project-filter {
        .tasks-header-icon();
        font-size: 16px;
    }

    #recycle-bin {
        .tasks-header-icon();
    }

    .recycle-bin-drag-over {
       background-color: @bg-dark;
    }
}

.priority-low {
    .tag();
    background-color: @priority-low;
}

.priority-med {
    .tag();
    background-color: @priority-med;
}

.priority-high {
    .tag();
    background-color: @priority-high;
}

.priority-none {
    .tag();
    background-color: @priority-none;
}

.recent {
    .tag();
    background-color: @task-recent;
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#tasks {
    display: flex;
    flex-direction: row;

    .task-column {
        display: flex;
        flex-direction: column;
        background-color: @bg-dark;
        margin: 5px;
        padding: 2px;
        border-radius: 10px;
        flex-basis: 100%;
        border: 1px solid transparent;

        .title-column {
            padding: 10px;
            margin: 0;
            font-weight: bold;
            width: fit-content;
            cursor: pointer;
        }

        .task {
            border-radius: 10px;
            margin: 10px 5px;
            padding: 10px;
            background-color: @bg-light;
            min-height: 120px;

            display: flex;
            flex-direction: column;

            .task-header {
                display: flex;
                flex-direction: row;

                .task-title {
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                    letter-spacing: 1.2px;
                    font-size:18px;
                    flex-grow: 1;
                }

                .task-title:hover {
                    text-decoration: underline;
                }

                .task-anchor {
                    cursor: pointer;
                }
            }

            .task-content {
                color: white;
                flex-grow: 1;
            }

            .task-id {
                .tag();
                cursor: pointer;
            }

            .live-time {
                .tag();
            }

            .task-project {
                .tag();
                background-color: @task-tag;
            }
        }

        .task-hidden {
            display: none;
        }
    }

    .task-column-drag-over {
        border-color: white;
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 10;
}

#popup {
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;

    width: 80%;
    max-width: 500px;
    height: fit-content;
    padding: 10px;
    transform: translate(-50%, -50%);
    z-index: 20;
    border: 1px solid white;
    border-radius: 10px;
    background-color: @bg-dark;

    .task-font {
        font-family: @default-font;
        font-size: @default-font-size;
        background-color: @bg-light;
        color: white;
        padding: 5px;
        border: none;
        border-radius: 5px;
    }

    .popup-task-related {
        .task-font();
        font-weight: bold;
        border: none;
        margin-left: 5px;
        min-width: 0;
    }

    #task-id {
        .task-font();
        border: none;
        width: 100%;
        cursor: pointer;
    }

    #popup-header {
        display: flex;
        flex-direction: row;
        margin: 5px 0;
        padding: 0;

        #task-id-label {
            .popup-task-related();
            background: none;
            letter-spacing: 1.5px;
        }

        #close-popup {
            display: block;
            float: right;
            border: none;
            cursor: pointer;
            background: none;
            margin-left: auto;
        }
    }

    #popup-task-related {
        height: fit-content;
        display: flex;
        flex-direction: row;
        padding: 10px 0px;
        margin: 0px;

        #task-project {
            .popup-task-related();
            width: 100px;
            margin: 0px;
            margin-right: 5px;
        }

        #task-title {
            .popup-task-related();
            flex-grow: 1;
            margin: 0px;
            margin-left: auto;
        }
    }

    #task-content-wrapper {
        display: flex;
        padding: 0;
        margin: 0;
        #task-content {
            .task-font();
            flex-grow: 1;
            height: 100px;
            margin: 0;
            resize: none;
        }
    }

    #tags-wrapper {
        display: flex;
        flex-direction: row;
        padding: 5px;
        align-items: center;
        margin-bottom: 0px;

        #popup-create-task {
            margin-left: auto;
        }
    }

    .popup-item {
        margin: 10px 5px;
    }
}

.tooltip {
    position: relative;
    display: inline-block;

    .tooltip-text {
        white-space: nowrap;
        padding: 7px 7px;
        border-radius: 10px;
        background-color: #505050;
        color: white;
        font-size:14px;
        text-align: left;
        visibility: hidden;
        position: absolute;
        top: 30px;
        left: 0px;
        z-index: 1;
    }

    #tooltip-recycle-bin {
        top: 40px;
    }
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}


@media screen and (max-width: 600px) {
    #tasks {
        flex-direction: column;
    }

    #popup {
        width: 80%;
    }
}