@bg-color: #262f3b;
@bg-color-light: #161c29;

@btn-color: green;
@btn-color-hover:  lighten(@btn-color, 10%);

@btn-del-color-hover: lighten(red, 10%);;
@btn-del-color: darken(red, 10%);

@priority-low: lighten(green, 10%);
@priority-med: orange;
@priority-high: purple;
@priority-hot: red;

@task-tag-color:  lighten(blue, 20%);
