@bg-color: #0D1118;
@bg-color-light: #161B22;

@btn-color: green;
@btn-color-hover:  darken(@btn-color, 10%);

@btn-del-color: red;
@btn-del-color-hover:  darken(@btn-del-color, 20%);

@priority-low: lighten(green, 10%);
@priority-med: orange;
@priority-high: purple;
@priority-hot: red;
