<!DOCTYPE html>
<html lang="en">
<head>
    <!-- todo: fix this title -->
    <title> jarvis - {{ .Title }} </title>
    {{ template "importer" . }}
    <link rel="stylesheet/less" type="text/css" href="/static/less/images.less" />
</head>
<body>
    {{ template "header" . }}
    <div id="images-header">
        <select id="width-selector" onchange="changeWidth(this.value)">
        </select>
    </div>
    {{ range .Paths }}
        <a href="{{ . }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ . }}" alt="notfound" loading="lazy">
        </a>
    {{ end }}

    {{ template "footer" . }}

    <script src="/static/js/images.js"></script>
</body>
</html>