<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jarvis</title>

    <link rel="stylesheet/less" type="text/css" href="/static/less/index.less" />
    {{ template "importer" . }}

</head>

<body>
    {{ template "header" . }}

    <div id="main-container">
        <div id="main-content">
            <h3>Hello</h3>
            <p>
                Welcome, this is Jarvis, Tam's assistant.
                The plan is to keep this project alive as long as possible.
                I will add more features like
            </p>

            <ul>
                <li>Task manager</li>
                <li>Media center</li>
                <li>Stocker viewer</li>
                <li>Other project demos: DnsServer, DnsClient, Algorithms, ...</li>
            </ul>

        </div>
    </div>

    {{ template "footer" . }}
</body>
</html>