<!DOCTYPE html>
<html lang="en">
<head>
    <title> jarvis - tasks </title>
    {{ template "importer" . }}
    <link rel="stylesheet/less" type="text/css" href="/static/less/tasks.less" />
    <script>
        let tasks = [];
        {{ template "tasks_importer" .Idea }}
        {{ template "tasks_importer" .Todo }}
        {{ template "tasks_importer" .Doing }}
        {{ template "tasks_importer" .Done }}
    </script>
</head>
<body>
    {{ template "header" . }}
    <div id="tasks-header" class="header-child">
        <div id="btn-create" onclick="openCreatePopup()">
            📄
        </div>
        <div class="tooltip" id="recycle-bin" ondrop="dropOnRecycleBin(event)"
                              ondragover="allowDrop(event)"
                              ondragenter="this.classList.add('recycle-bin-drag-over')"
                              ondragleave="this.classList.remove('recycle-bin-drag-over')">
            🗑
            <div class="tooltip-text" id="tooltip-recycle-bin">
                drag task here to delete
            </div>
        </div>
        <div id="settings" onclick="console.log('going to settings')">
            🛠
        </div>
        <select id="project-filter" title="?" onchange="changeProject(this.value)">
            {{ range .ProjectInfos }}
                <option value="{{ .Name }}"> {{ .Name }} ({{ .Count }}) </option>
            {{ end }}
        </select>
    </div>
    <div id="main-container">
        <div id="tasks">
            <div class="task-column" id="state-0">
                <span class="title-column" onclick="toggleColumn(STATE_IDEA)">idea {{ len .Idea }} </span>
                {{ range .Idea }}
                    {{ template "task" . }}
                {{ end }}
            </div>
            <div class="task-column" id="state-1">
                <span class="title-column" onclick="toggleColumn(STATE_TODO)">todo {{ len .Todo }} </span>
                {{ range .Todo }}
                    {{ template "task" . }}
                {{ end }}
            </div>
            <div class="task-column" id="state-2">
                <span class="title-column" onclick="toggleColumn(STATE_DOING)">doing {{ len .Doing }} </span>
                {{ range .Doing }}
                    {{ template "task" . }}
                {{ end }}
            </div>
            <div class="task-column" id="state-3">
                <span class="title-column" onclick="toggleColumn(STATE_DONE)">done {{ len .Done }} </span>
                {{ range .Done }}
                    {{ template "task" . }}
                {{ end }}
            </div>
        </div>

        <div id="overlay" onclick="hidePopup()"></div>

        <div id="popup">
            <div id="popup-header">
                <label id="task-id-label"></label>
                <button type="button" id="close-popup">❌</button>
            </div>

            <input type="hidden" id="task-id">
            <div id="popup-task-related">
                    <input placeholder="project" class="popup-item" id="task-project">
                    <input placeholder="title" class="popup-item" id="task-title">
            </div>

            <div id="task-content-wrapper">
                <textarea placeholder="content" class="popup-item" id="task-content"></textarea>
            </div>
                <input type="hidden" id="task-priority">

            <div class="popup-item" id="tags-wrapper">
                <span id="popup-priority-low" class="priority-none" onclick="selectPriorty(PRIORITY_LOW)">low</span>
                <span id="popup-priority-med" class="priority-none" onclick="selectPriorty(PRIORITY_MED)">med</span>
                <span id="popup-priority-high" class="priority-none" onclick="selectPriorty(PRIORITY_HIGH)">high</span>

                <button class="btn" id="popup-create-task" onclick="createOrUpdateTask()">submit</button>
            </div>
        </div>
    </div>
    {{ template "footer" . }}
    <script src="/static/js/tasks.js"></script>
</body>
</html>

{{ define "tasks_importer" }}
    {{ range . }}
        tasks.push({ 
            id: {{ .Task.Id }},
            project: {{ .Task.Project }},
            title: {{ .Task.Title }},
            content: {{ .Task.Content }},
            state: {{ .Task.State }},
            priority: {{ .Task.Priority }},
            createdTime: {{ .CreatedTime }},
            lastUpdateTime: {{ .LastUpdateTime }},
            livedTime: {{ .LivedTime }},
            isRecent: {{ .IsRecent }},
        })
    {{ end }}
{{ end }}

{{ define "task" }}
<div class="task" id="task-{{ .Task.Id }}">
    <div class="task-header">
        <span class="task-title" onclick="openEditPopup({{ .Task.Id }})">
            {{ .Task.Title }}
        </span>
        <span class="task-anchor" draggable="true" ondragstart="drag(event, {{ .Task.Id }})">
            ⋮
        </span>
    </div>
    <p class="task-content">{{ .Task.Content }}</p>
    <div>
        <span class="task-project" onclick="openEditPopup({{ .Task.Id }})">
            {{ .Task.Project }}
        </span>
        <span class="task-id" onclick="openEditPopup({{ .Task.Id }})">
            T-{{ .Task.Id }}
        </span>
        <span class="tooltip">
            <span class="live-time">
                {{ .LivedTime }}
            </span>
            <span class="tooltip-text">
                last update: {{ .LastUpdateTime }} <br> created on: {{ .CreatedTime }}
            </span>
        </span>
        <span class="priority" onclick="openEditPopup({{ .Task.Id }})">
            {{ .Task.Priority }}
        </span>
        {{ if .IsRecent }} <span class="recent">recent</span> {{ end }}
    </div>
</div>
{{ end }}
