<html>
<head>
    <title>tasks</title>
    {{template "importer" .}}
    <link rel="stylesheet/less" type="text/css" href="/static/less/tasks.less" />
</head>
<body>
    {{template "header" .}}
    <div id="tasks-header">
        <select id="project-filter" onchange="changeProject(this.value)">
            {{ range .ProjectInfos }}
                <option value="{{ .Project }}"> {{ .Project }} ({{ .Count }}) </option>
            {{ end }}
        </select>
        <div id="recycle-bin" ondrop="dropOnRecycleBin(event)"
                              ondragover="allowDrop(event)"
                              ondragenter="this.classList.add('recycle-bin-active')"
                              ondragleave="this.classList.remove('recycle-bin-active')">
            🗑
        </div>
        <button id="btn-create" class="btn" onclick="openCreatePopup()">
            create
        </button>
    </div>
    <div id="main-container">
        <div id="tasks">
            <div class="task-column dnd-state-0" ondrop="dropOnStateColumn(event)" ondragover="allowDrop(event)">
                <p class="title-column">todo ({{ .NumberTodo }})</p>
                {{ range .Todo }}
                    {{template "task" .}}
                {{ end }}
            </div>

            <div class="task-column dnd-state-1" ondrop="dropOnStateColumn(event)" ondragover="allowDrop(event)">
                <p class="title-column">doing ({{ .NumberDoing }})</p>
                {{ range .Doing }}
                    {{template "task" .}}
                {{ end }}
            </div>

            <div class="task-column dnd-state-2" ondrop="dropOnStateColumn(event)" ondragover="allowDrop(event)">
                <p class="title-column">done ({{ .NumberDoneFiltered }}/{{ .NumberDone }})</p>
                {{ range .Done }}
                    {{template "task" .}}
                {{ end }}
            </div>
        </div>

        <div id="overlay"></div>

        <div id="popup">
            <div id="popup-header">
                <label id="task-id-label"></label>
                <button type="button" id="close-popup">❌</button>
            </div>

            <input type="hidden" id="task-id">
            <div id="popup-task-related">
                    <input placeholder="project" class="popup-item" id="task-project">
                    <input placeholder="title" class="popup-item" id="task-title">
            </div>

            <textarea placeholder="content" class="popup-item" id="task-content"></textarea>
            <input type="hidden" id="task-priority">

            <div class="popup-item">
                <span id="popup-priority-idea" class="priority-none" onclick="selectPriorty(PRIORITY_IDEA)">idea</span>
                <span id="popup-priority-low" class="priority-none" onclick="selectPriorty(PRIORITY_LOW)">low</span>
                <span id="popup-priority-med" class="priority-none" onclick="selectPriorty(PRIORITY_MED)">med</span>
                <span id="popup-priority-high" class="priority-none" onclick="selectPriorty(PRIORITY_HIGH)">high</span>

                <button class="btn" id="popup-create-task" onclick="createOrUpdateTask()">submit</button>
            </div>

        </div>
    </div>

    {{template "footer" .}}

    <script src="/static/js/tasks.js"></script>
</body>
</html>

{{ define "task" }}

<!-- id="T-" for drag and drop -->
<div class="task" id="T-{{ .Id }}">
    <div class="task-header">
        <span class="task-title" onclick="openEditPopup( {{ .Id }}, {{ .Project }}, {{ .Title }}, {{ .Content }}, {{ .Priority }})">
            {{.Title}}
        </span>
        <span class="task-anchor" draggable="true" ondragstart="drag(event, {{.Id}})">
            ⋮
        </span>
    </div>
    <p class="task-content">{{ .Content }}</p>
    <div>
            <span class="task-project" onclick="openEditPopup( {{ .Id }}, {{ .Project }}, {{ .Title }}, {{ .Content }}, {{ .Priority }})">
                {{ .Project }}
            </span>
            <span class="task-id" onclick="openEditPopup( {{ .Id }}, {{ .Project }}, {{ .Title }}, {{ .Content }}, {{ .Priority }})">
                T-{{ .Id }}
            </span>
            <span class="tooltip">
                <span class="live-time" onclick="openEditPopup( {{ .Id }}, {{ .Project }}, {{ .Title }}, {{ .Content }}, {{ .Priority }})">
                    {{ .LivedTime }}
                </span>
                <span class="tooltiptext">
                    Last update: {{ .LastUpdateTime }}
                    <br>
                    created on: {{ .CreatedTime }}
                </span>
            </span>
            <span class="priority state-{{.State}}" onclick="openEditPopup( {{ .Id }}, {{ .Project }}, {{ .Title }}, {{ .Content }}, {{ .Priority }})">
                {{ .Priority }}
            </span>
    </div>
</div>

{{ end }}
