{{ define "importer" }}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet/less" type="text/css" href="/static/less/main.less" />

{{ end }}

{{ define "header" }}

<header id="header">
    <nav>
        <ul id="menu-container">
            <li><a href="/">home</a></li>
            <li><a href="/tasks">tasks</a></li>
            <li><a href="/media">media</a></li>
        </ul>
        <div id="menu-icon-mobile" onclick="this.classList.toggle('open');">
            <div id="bar-wrapper">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <ul id="mobile-menu">
                <li><a href="/">home</a></li>
                <li><a href="/tasks">tasks</a></li>
                <li><a href="/media">media</a></li>
            </ul>
        </div>
    </nav>

</header>

{{ end }}

{{ define "footer" }}

<footer>
    <div id="contacts">
        <i class="fa fa-envelope"></i>
        <i class="fa fa-github"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/less@4" ></script>

{{ end }}