<!DOCTYPE html>
<html lang="en">
<head>
    <title>videos</title>
    {{ template "importer" . }}
    <link rel="stylesheet/less" type="text/css" href="/static/less/videos.less" />
</head>

<body>
    {{ template "header" . }}

    <div id="main-container">
        <div id="main-content">
            <select id="movie-selector" onchange="changeVideo(this.value)">
                {{ range . }}
                    <option value="{{ .Path }}">{{ .Name }}</option>
                {{ end }}
            </select>
            <video id="player" controls>
                <source src="" type="video/mp4 ">
            </video>
        </div>
    </div>

    {{ template "footer" . }}

    <script src="/static/js/videos.js"></script>
</body>
</html>


<!-- <h3>Friends</h3>
<select class="selector" id="friends_selector" onchange="change_friend(this.value)"></select>
<br><br>
<video class="player" id="friends_player" controls>
    <source src="/static/res/friends/videos/s01e01.mp4" type="video/mp4 ">
    <track label="English" kind="subtitles" srclang="en" src="/static/res/friends/sub/s01e01.vtt" default>
</video> -->