<!DOCTYPE html>
<html lang="en">
<head>
    <title>videos</title>
    {{ template "importer" . }}
    <link rel="stylesheet/less" type="text/css" href="/static/less/videos.less" />
</head>

<body>
    {{ template "header" . }}

    <div id="main-container">
        <div id="main-content">
            <select id="movie-selector" onchange="changeVideo(this.value)">
                {{ range . }}
                <option value='{ "path":"{{ .Path }}", "subtitlePath":"{{ .SubtitlePath }}" }'>{{ .Name }}</option>
                {{ end }}
            </select>
            <video id="player" controls>
                <source src="" type="video/mp4 ">
                <track id="track" label="English" kind="subtitles" srclang="en" src="" default>
            </video>
        </div>
    </div>

    {{ template "footer" . }}

    <script src="/static/js/videos.js"></script>
</body>
</html>
