<html>
<head>
    <title>Tasks</title>
    {{template "importer" .}}
    <link rel="stylesheet/less" type="text/css" href="/static/less/tasks.less" />
</head>
<body>
    {{template "header" .}}
    <div id="main-container">
        <div id="tasks">
            <div class="task-column" id="todo">
                <p class="title-column">Todo</p>
                {{ range . }}
                    {{if eq .State 0}}
                        {{template "task" .}}
                    {{ end }}
                {{ end }}
            </div>

            <div class="task-column" id="doing">
                <p class="title-column">Doing</p>
                {{ range . }}
                    {{if eq .State 1}}
                        {{template "task" .}}
                    {{ end }}
                {{ end }}
            </div>

            <div class="task-column" id="onhold">
                <p class="title-column">Onhold</p>
                {{ range . }}
                    {{if eq .State 2}}
                        {{template "task" .}}
                    {{ end }}
                {{ end }}
            </div>

            <div class="task-column" id="done">
                <p class="title-column">Done</p>
                {{ range . }}
                    {{if eq .State 3}}
                        {{template "task" .}}
                    {{ end }}
                {{ end }}
            </div>
        </div>

        <div id="overlay"></div>

        <div id="popup">
            <form id="update-form" action="/tasks/" method="post">
                <input type="hidden" id="task-id" name="id">
                <input placeholder="title goes here" type="text" class="form-item" id="task-title" name="title">
                <button type="button" id="close-popup">❌</button>

                <br>
                <textarea placeholder="content goes here" class="form-item" id="task-content" name="content"></textarea>

                <label id="task-id-label"></label>
                <span id="popup-priority"></span>

                <div class="radio-group">
                    <div class="radio-item">
                        <input type="radio" id="state_todo" name="state" value="0">
                        <label for="state_todo">Todo</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="state_doing" name="state" value="1">
                        <label for="state_doing">Doing</label>
                    </div>
                    <div class="radio-item">
                            <input type="radio" id="state_onhold" name="state" value="2">
                        <label for="state_onhold">Onhold</label>
                    </div>
                    <div class="radio-item">
                            <input type="radio" id="state_done" name="state" value="3">
                        <label for="state_done">Done</label>
                    </div>
                </div>

                <div class="radio-group">
                    <div class="radio-item">
                        <input type="radio" id="priority_low" name="priority" value="0" onclick="updatePriority()">
                        <label for="priority_low">Low</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="priority_med" name="priority" value="1" onclick="updatePriority()">
                        <label for="priority_med">Med</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="priority_high" name="priority" value="2" onclick="updatePriority()">
                        <label for="priority_high">High</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="priority_hot" name="priority" value="3" onclick="updatePriority()">
                        <label for="priority_hot">Hot</label>
                    </div>
                </div>
            </form>

            <form id="delete-form" action="/delete-task/" method="post" onsubmit="return confirm('really?')">
                <input type="hidden" id="task-id-delete" name="id-delete">
            </form>

            <input class="btn" type="submit" value="Submit" form="update-form">
            <input class="btn-delete" type="submit" value="Delete" form="delete-form" >
        </div>
    </div>

    {{template "footer" .}}

    <script src="/static/js/tasks.js"></script>
</body>
</html>

{{define "task"}}

<div class="task">
    <span class="task-title" onclick="editTask({{ .Id }}, {{ .Title }}, {{ .Content }}, {{ .State }}, {{ .Priority }})">
        {{.Title}}
    </span>
    <p class="task-content">{{ .Content }}</p>
    <div>
        <span class="task-id">T-{{ .Id }}</span>
        <div class="tooltip" style="display: inline-block">
            <span class="live-time">
                {{ .CreatedTime }}
            </span>
            <span class="tooltiptext">
                Last update: {{ .LastUpdateTime }} <br> Created on: {{ .CreatedTime }}
            </span>
        </div>
        <span class="priority">{{ .Priority }}</span>
    </div>
</div>

{{end}}
