<html>
<head>
    <title>Tasks</title>
    {{template "importer" .}}
    <link rel="stylesheet/less" type="text/css" href="/static/less/tasks.less" />
</head>
<body>
    {{template "header" .}}
    <div id="main-container">
        <div id="tasks">
            <div class="task-column">
                <p class="title-column">todo ({{ .NumberTodo }})</p>
                {{ range .Todo }}
                    {{template "task" .}}
                {{ end }}
            </div>

            <div class="task-column">
                <p class="title-column">doing ({{ .NumberDoing }})</p>
                {{ range .Doing }}
                    {{template "task" .}}
                {{ end }}
            </div>

            <div class="task-column">
                <p class="title-column">done ({{ .NumberDoneFiltered }}/{{ .NumberDone }})</p>
                {{ range .Done }}
                    {{template "task" .}}
                {{ end }}
            </div>
        </div>

        <div id="overlay"></div>

        <div id="popup">
            <form id="update-form" action="/tasks/" method="post">
                <input type="hidden" id="task-id" name="id">

                <div id="popup-header">
                    <label id="task-id-label"></label>
                    <button type="button" id="close-popup">❌</button>
                </div>

                <div id="popup-task-related">
                        <input placeholder="project" type="text" id="task-project" name="project">
                        <input placeholder="title" type="text" id="task-title" name="title">
                </div>

                <br>
                <textarea placeholder="content" class="form-item" id="task-content" name="content"></textarea>

                <div class="radio-group">
                    <div class="radio-item">
                        <input type="radio" id="state_todo" name="state" value="0">
                        <label for="state_todo">todo</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="state_doing" name="state" value="1">
                        <label for="state_doing">doing</label>
                    </div>
                    <div class="radio-item">
                            <input type="radio" id="state_done" name="state" value="2">
                        <label for="state_done">done</label>
                    </div>
                </div>

                <div class="radio-group">
                    <div class="radio-item">
                        <input type="radio" id="priority_low" name="priority" value="0">
                        <label for="priority_low">low</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="priority_med" name="priority" value="1">
                        <label for="priority_med">med</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="priority_high" name="priority" value="2">
                        <label for="priority_high">high</label>
                    </div>
                </div>
            </form>

            <form id="delete-form" action="/delete-task/" method="post" onsubmit="return confirm('really?')">
                <input type="hidden" id="task-id-delete" name="id-delete">
            </form>

            <input class="btn" type="submit" value="Submit" form="update-form">
            <input class="btn-delete" type="submit" value="Delete" form="delete-form" >
        </div>
    </div>

    {{template "footer" .}}

    <script src="/static/js/tasks.js"></script>
</body>
</html>

{{ define "task" }}

<div class="task" id="task-{{ .Id }}">
    <span class="task-title" onclick="editTask( {{ .Id }}, {{ .State }}, {{ .Priority }})">
        {{.Title}}
    </span>
    <p class="task-content">{{ .Content }}</p>
    <div>
            <span class="task-project">{{ .Project }}</span>
            <span class="task-id">T-{{ .Id }}</span>
            <span class="tooltip">
                <span class="live-time">
                    {{ .LivedTime }}
                </span>
                <span class="tooltiptext">
                    Last update: {{ .LastUpdateTime }} <br> Created on: {{ .CreatedTime }}
                </span>
            </span>
            <span class="priority">{{ .Priority }}</span>
    </div>
</div>

{{ end }}
