{{define "importer"}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet/less" type="text/css" href="/static/less/main.less" />

{{end}}

{{define "header"}}

<header id="header">
    <div>
        <ul id="menu">
            <li><a href="/" style="text-decoration: none;">🌟</a></li>
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/k50">k50</a></a></li>
            <li><a href="/tnpd">tnpd</a></li>
        </ul>
    </div>
</header>

{{end}}

{{define "footer"}}

<footer>
    <div id="contacts">
        <i class="fa fa-envelope"></i>
        <i class="fa fa-github"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/less@4" ></script>

{{end}}